$blockGap: 8px;
$headerHeight: 75px;

.head {
	display: flex;
	height: $headerHeight;
	background-color: var(--bg-primary);
	box-shadow: var(--shadow-primary);
	padding: 0 32px;
	border-radius: 16px;
	align-items: center;
}

.start {
	display: flex;
	gap: $blockGap;
	flex: 1 0;
}

.end {
	display: flex;
	gap: $blockGap;
	align-items: center;
	justify-content: flex-end;
}
